[neopixel button_leds]
pin: PA9
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 2
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.30
initial_GREEN: 0.30
initial_BLUE: 0.30

[gcode_button case_light_button]
pin: ~rpi:gpio27
press_gcode:
  _set_case_light_button_led r=1 g=0.65 b=0
release_gcode:
  _toggle_case_light

[gcode_button heat_soak_button]
pin: ~rpi:gpio22
press_gcode:
  _set_heat_soak_button_led r=1 g=0 b=0
release_gcode:
  heat_soak target=110 duration=10

[gcode_macro _set_button_led]
gcode:
  {% set IDX = params.IDX | int %}
  {% set RED = params.RED | default(0) | float %}
  {% set GREEN = params.GREEN | default(0) | float %}
  {% set BLUE = params.BLUE | default(0) | float %}
  set_led led=button_leds red={RED} green={GREEN} blue={BLUE} index={IDX} transmit=1

[gcode_macro _set_case_light_button_led]
gcode:
  {% set RED = params.R | default(0) | float %}
  {% set GREEN = params.G | default(0) | float %}
  {% set BLUE = params.B | default(0) | float %}
  _set_button_led RED={RED} GREEN={GREEN} BLUE={BLUE} IDX=2 transmit=1

[gcode_macro _set_heat_soak_button_led]
gcode:
  {% set RED = params.R | default(0) | float %}
  {% set GREEN = params.G | default(0) | float %}
  {% set BLUE = params.B | default(0) | float %}
  _set_button_led RED={RED} GREEN={GREEN} BLUE={BLUE} IDX=1 transmit=1
