## Happy Hare MMU hardware config file with config for EASY-BRD-RP2040

[mcu mmu]
canbus_uuid: 796563591196 # Config guess. Run ls -l /dev/serial/by-id and set manually	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=gpio20,
    MMU_GEAR_STEP=gpio10,
    MMU_GEAR_DIR=gpio9,
    MMU_GEAR_ENABLE=gpio8,
    MMU_GEAR_DIAG=gpio13,
    MMU_SEL_UART=gpio17,
    MMU_SEL_STEP=gpio16,
    MMU_SEL_DIR=gpio15,
    MMU_SEL_ENABLE=gpio14,
    MMU_SEL_DIAG=gpio19,
    MMU_SEL_ENDSTOP=gpio24,
    MMU_SERVO=gpio23,
    MMU_ENCODER=gpio22

# Assuming the rest of the pins are on main mcu. You may need to comment out this section
# if using Klippain or RatOS and already have the aliases defined
#
[board_pins toolhead]
mcu: toolhead
aliases:
    E_TMCUART=PA15,
    E_DIAG=,
    E_STEP=PD0,
    E_DIR=PD1,
    E_ENABLE=PD2,
    TOOLHEAD_SENSOR=PB6

